{% extends "base.html" %}

{% block article %}
    <h3>{{ info.title }}</h3>
    <div>
        {{ info.content|safe }}
    </div>

    <div class="clear_1">
        <div id="div_digg">
        <div class="diggit count">
            <span class="diggnum" id="digg_count">{{ info.up_count }}</span>
        </div>
        <div class="buryit count">
            <span class="burynum" id="bury_count">{{ info.down_count }}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips" style="color: red;"></div>
    </div>
    </div>
    <div class="clear"></div>

    <div>
        <div>评论列表</div>
        <div class="panel panel-default">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div>发表评论</div>
        <div>
            <label for="name">昵称</label>
            <input type="text" disabled="disabled" id="name" value="{{ username }}">
        </div>
        <div>
            <p>评论内容</p>
            <textarea name="" id="text_a" cols="60" rows="20"></textarea>
            <div>
                <button type="button" class="btn btn-default s_comment">提交评论</button>
            </div>
        </div>
    </div>
    <script>
        $(".count").click(function () {
            var is_up = $(this).hasClass('diggit');
            $obj = $(this).children("span");
            $.ajax({
                url: "/digg/",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "is_up": is_up,
                    "article_id": "{{ info.pk }}"
                },
                success: function (data) {
                    if (data.state) {
                        var val = parseInt($obj.text());
                        $obj.text(val + 1);
                    } else {
                        $("#digg_tips").html(data.msg);
                        setTimeout(function () {
                            $(".diggword").html("")
                        }, 1000)
                    }
                }
            })
        });
        $(".s_comment").click(function () {
            $.ajax({
                url:'/comment/',
                type:'post',
                data:{
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "article":{{ info }},
                    "content":$("#text_a").text()
                },
                success:function (data) {

                }
            })
        })
    </script>


{% endblock %}