{% extends "base.html" %}

{% block article %}
    <h3>{{ info.title }}</h3>
    <div>
        {{ info.content|safe }}
    </div>

    <div class="clear_1">
        <div id="div_digg">
            <div class="diggit count">
                <span class="diggnum" id="digg_count" >{{ info.up_count }}</span>
            </div>
            <div class="buryit count">
                <span class="burynum" id="bury_count">{{ info.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div>
        <div>评论树</div>
    </div>
    <div>
        <div>评论列表</div>
        <div class="panel panel-default">
            <ul class="list-group">
                {% for comment in comment_list %}
                    <li class="list-group-item">
                        <a href="#" >#{{ forloop.counter }}楼</a>
                        <span>{{ comment.create_time|date:'Y-m-d H-i' }}</span>
                        <a href="#">{{ comment.user.username }}</a>
                        <span class="pull-right">
                            <a class="btn re_comment" username="{{ comment.user.username }}" comment_pk="{{ comment.pk }}" >回复</a>
                        </span>
                        {% if comment.parent_comment %}
                            <div class="well">
                                {{ comment.parent_comment.user.username }}:{{ comment.parent_comment.content }}
                            </div>
                        {% endif %}
                        <p>{{ comment.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>发表评论</div>
        <div>
            <label for="name">昵称</label>
            <input type="text" disabled="disabled" id="name" value="{{ username }}">
        </div>
        <div>
            <p>评论内容</p>
            <textarea name="" id="text_a" cols="60" rows="20"></textarea>
            <div>
                <button type="button" class="btn btn-default" id="s_comment">提交评论</button>
            </div>
        </div>
    </div>
    <script>
        pid = '';
        $(".count").click(function () {
            var is_up = $(this).hasClass('diggit');
            $obj = $(this).children("span");
            $.ajax({
                url: "/digg/",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "is_up": is_up,
                    "article_id": "{{ info.pk }}"
                },
                success: function (data) {
                    if (data.state) {
                        var val = parseInt($obj.text());
                        $obj.text(val + 1);
                    } else {
                        $("#digg_tips").html(data.msg);
                        setTimeout(function () {
                            $(".diggword").html("")
                        }, 1000)
                    }
                }
            })
        });
        $("#s_comment").click(function () {
            let content = $("#text_a").val();
            if(pid){
                let index = content.indexOf('\n');
                content = content.slice(index+1)
            }
            $.ajax({
                url: '/comment/',
                type: 'post',
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "article":{{ info.pk }},
                    "content": content,
                    "pid":pid
                },
                success: function (data) {
                    var create_time = data.create_time;
                    var username = data.username;
                    var content = data.content;
                    var s = `
                   <li class="list-group-item">
                      <div>
                          <span>${create_time}</span>&nbsp;&nbsp;
                          <a href=""><span>${username}</span></a>
                      </div>
                      <div class="comment_con">
                          <p>${content}</p>
                      </div>
                    </li>`;

                    $("ul.list-group").append(s);
                    $("#text_a").val('');
                    pid = ''
                }
            })
        });
        $('.re_comment').click(function () {
            $text = $("#text_a");
            $text.focus();
            let value = "@" + $(this).attr("username") + "\n";
            console.log(value);
            $text.val(value);
            pid = $(this).attr("comment_pk");
            console.log(pid);
        });
        $.ajax({
            url:'',
            type:'get',

        })
    </script>


{% endblock %}