{% extends 'base.html' %}
{% block article %}
    <div class="media">
                {% for article in article_list %}
                    <h4><a href="/{{ username }}/p/{{ article.nid }}/"><b>{{ article.title }}</b></a></h4>
                    <div class="media-body">
                       {{ article.desc }}
                    </div>
                    <div class="article_name pull-right">&nbsp;&nbsp;
                        <span>发布于&nbsp;{{ article.create_time|date:'Y-m-d H:i'}}</span>&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-comment"></span>&nbsp;<a href="#">评论</a>({{ article.comment_count }})&nbsp;
                        <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<a href="#">点赞</a>({{ article.up_count }})
                    </div>
                    <hr>
                {% endfor %}
    </div>
{% endblock %}